[2017-08-29 10:07] acuntex opened #2 "ngx-countdown@1.0.1 requires a peer of @angular/common@4.0.1 but none was installed."
If you use the current version of angular, you get the following error in NPM:

[code]

Any chance you could fix and update the dependencies? Thanks!

[2017-08-29 10:14] cipchk commented on #2
bug confirmed, today fix this. thinks.

[2017-08-29 10:45] cipchk commented on #2
see [1.0.2](https://github.com/cipchk/ngx-countdown/blob/master/CHANGELOG.md).

[2017-08-29 10:45] #2 closed, assigned to nobody

[2017-08-29 11:45] acuntex commented on #2
Thanks for your quick response! 👍

[2017-10-17 19:48] serderovsh opened #3 "resertTimer()"
Hello, where to put "resetTimer()"?

[2017-10-17 20:06] serderovsh commented on #3
All, the problem is solved

[2017-10-17 20:06] #3 closed, assigned to nobody

[2017-11-15 01:46] NOaMTL opened #4 "Error while building with ionic 3/cordova"
Hello I have this error while I am trying to build my app.
`ionic cordova build android --prod`

I am using :
angular/core: 4.4.3,
ionic-native/core": 4.3.0,
cordova-android": 6.3.0,
cordova-ios": ~4.3.1"

I guess it is because Angular 5 uses Metadata version 4 while Angular 4 uses the version 3...
Is there a way to use this package on Angular 4 and be able to build ?

[2017-11-15 03:56] cipchk commented on #4
please provider your `package.json`.

or, trying use:

[code]

[2017-11-15 12:52] NOaMTL commented on #4
Changing to the version 1.0.2 worked. Thank you.
[code]

[2017-11-24 10:11] alluk-ghub opened #5 "Metadata version mistmatch for module ngx-countdown found version 4, expected 3"
Hello. I got this error when tried to npm run && ng serve
package.json dependencies
`"dependencies": {
    "@angular/common": "^4.1.3",
    "@angular/compiler": "^4.1.3",
    "@angular/core": "^4.1.3",
    "@angular/forms": "^4.1.3",
    "@angular/http": "^4.1.3",
    "@angular/platform-browser": "^4.1.3",
    "@angular/platform-browser-dynamic": "^4.1.3",
    "@angular/platform-server": "^4.1.3",

[2017-11-24 11:12] cipchk commented on #5
please use `"ngx-countdown": "^1.0.1"` if angular5 version.

[2017-11-24 11:12] #5 closed, assigned to nobody

[2017-11-24 11:12] #4 closed, assigned to nobody

[2017-11-24 11:23] alluk-ghub commented on #5
the same problem with "ngx-countdown": "^1.0.1"

[2017-11-24 11:35] cipchk commented on #5
I'm all but certain:

angular5 version: `"ngx-countdown": "^1.0.1"`

angular4 version: `"ngx-countdown": "1.0.2"`

please check your steps and try again.

[2017-11-24 12:18] alluk-ghub commented on #5
Checked with both of variants in next way:
1. remove all node_modules
2. npm install --save-dev
3. npm install
4. npm run && ng serve
Result: The same problem. May it depends on some other npm module except angular version? angular-cli maybe or some other.

[2017-11-24 12:28] cipchk commented on #5
Also, maybe remove `packagae-lock.json`.

[2017-11-26 22:57] alluk-ghub commented on #5
Found the issue. Version 1.0.2 and 1.03 didn't work with angular 4.4.6. Works fine with 4.4.5

[2017-12-05 13:49] AngularTurkiye opened #6 "Unable to apply custom styles"
Hello,

Thanks for the plugin. Due to building issues, we are using 1.0.2. In this version, we are unable to apply custom styling.

Had to comment out styling from component.js > line 203. Can you please remove styling or update code so we can apply custom styles.

Thanks.

[2017-12-05 13:57] cipchk commented on #6
now `1.0.4` version compatible angular4 & 5, have any reason not to using laster version?

[2017-12-05 18:04] AngularTurkiye commented on #6
Unable build with angular 4.3.6, are you sure it works with 4.x?

[2017-12-06 06:42] cipchk commented on #6
how custom styling in `1.0.2`?

html:

[code]

scss:

[code]

do you think?

[2017-12-09 13:49] AngularTurkiye commented on #6
It may be better to remove line 203 of component.js which is commented below. This lets non-SASS users apply custom styling.

           `CountdownComponent.decorators = [
    { type: Component, args: [{
                selector: 'countdown',
                template: "<ng-content></ng-content>",
                host: {
                    '[class]': 'cls'
                },
                //styl

[2017-12-09 14:24] cipchk commented on #6
That's a good suggestion, thank again.

But only use `::ng-deep` in the present moment, i will remove `styles` in plan to release 2.0.0.

At the same time, `1.x` version service of angular 4 version.

[2017-12-09 15:42] #6 closed, assigned to nobody

[2017-12-13 14:57] belall-shaikh opened #7 "Help Required."
How to hide the hour part if it is 0.
Currently the hour part is displayed as '00'.
Can we hide this? It should be only displayed if it is more than 0.

[2017-12-13 15:14] cipchk commented on #7
you can set `config.template` property, eg:

[code]

if you need advanced usage, you can using `repaint` method, a full [demo](https://cipchk.github.io/ngx-countdown/#/tpl).

[2017-12-27 05:12] technbuzz opened #8 "Pause/resume/stop the counter"
How can I pause the counter as well as stop a particular counter and bring all the values to zero.

[2017-12-27 05:18] cipchk commented on #8
You can call `restart()`  ([demo](https://github.com/cipchk/ngx-countdown/blob/master/demo/src/app/components/demo.component.ts#L36))

[2017-12-27 05:36] technbuzz commented on #8
I solved the **Pause part** by
[code]
but I am not proud of it, I think their has to be functionality for this.

[2017-12-27 05:37] technbuzz commented on #8
The `restart()` does as it says to restart the timer but doesn't **resume** or **pause** things.

[2017-12-27 05:43] technbuzz commented on #8
For now I am good with `ngOnDestroy()`

[2017-12-27 05:46] cipchk commented on #8
Your suggestion is good, i will add `pause()` `resume()` methods & eventemmit in component.

Also, i suggestion reopen it.

[2017-12-27 06:46] #8 closed, assigned to cipchk

[2017-12-27 07:16] technbuzz opened #9 "Start the counter on demand (on button click)"
Is there a way to start the counter on click not on component load.?

[2017-12-27 08:00] cipchk commented on #9
Not yet, you can `*ngIf` via fixed variable.

[2017-12-27 17:36] smallswan399 commented on #9
@cipchk I got the same issue here
*ngIf you mean that show or hide completely the countdown depend on the *ngIf expression value?
I think it is better the component support to show the time left on init and Start the counter on demand (on button click)

[2017-12-28 09:48] #9 closed, assigned to cipchk

[2018-01-12 08:34] taipeiwu opened #10 "Maximum call stack size exceeded"
If I continue to open, there will be this problem, is there a good solution?

[CHROME CONSOLE LOG - 1]
[code]
[vendor.js:69415:14] ( 69415 => function (count, force) { )
[code]

[vendor.js:69384:28] ( 69384 => return _reflow.apply(me, [count]); )
[code]

[code]

--- Update 2018/01/20 ---
[CHROME CONSOLE LOG - 2]
[code]

[vendor.js:69489] ( 69489 => function (con, className, type) { )
[code]

[vend

[2018-01-16 10:51] dhanarajp opened #11 "Flip clock font issue"
Hi Team,

**Flip clock font not showing properly**
![image](https://user-images.githubusercontent.com/22543749/34985157-2f8eddba-fad9-11e7-9fc8-6f9ae1830a49.png)

[2018-01-16 11:02] dhanarajp opened #12 "onLoad animation issue"
Hi Team,

 leftTime: 120

above line configured, but on load it start from 3.00 then changed immediately 2.00 onwards animation showing.

[2018-01-20 08:30] taipeiwu commented on #10
Hi, is there any update on this issue? @cipchk

[2018-01-20 08:43] cipchk commented on #10
Sorry, can you provider a online demo for your ENV via [stackblitz](https://stackblitz.com/edit/ngx-countdown-setup?file=app%2Fapp.component.ts).

[2018-01-22 16:47] newkillerbeast2017 opened #13 "Finish event not firing"
@cipchk  I am trying to fire an `onfinished` event when the countdown gets over. Here is what my html looks like:

`<countdown class="timer" [config]="config" (finished)="finishTest()">$!m!:$!s!</countdown>`

The only issue is that the event if fired as soon as the component is loaded. In simple terms, if i kept the config as 10 seconds timer but the finished event is fired in 1st second itself. A

[2018-01-22 17:03] cipchk commented on #13
Sorry,  i can't understand what you saying, i create a online [demo](https://stackblitz.com/edit/ngx-countdown-setup-heks4b?file=app/app.component.ts) further explanation.

[2018-01-22 17:05] cipchk commented on #12
confirmed

[2018-01-24 13:25] dhanarajp opened #14 "How to reset the countdown again revisit the page"
Hi,
how to reset the countdown if again revisit the page.

**Scenario:**
_configured: 60sec_
1. Once login the page, countdown start
2. after 60sec automatically logout
3. try to login again the page, but countdown not restart

[2018-01-24 13:36] cipchk commented on #14
When the target component is destroyed, i think can work. otherwise, just call `restart()` or `resume()` again.

[2018-01-24 15:50] taipeiwu commented on #10
Because that architecture is IONIC,
it's a bit hard to port completely to stackblitz,
so I'm still confirming the reason,
and I'll let you know more clearly.

[2018-01-31 06:17] diazsasak opened #15 "Setting config value depend on observables result"
I want to set the leftTime with the value from the server. but it not work. if set the leftTime with hardcoding from the begining (from template or ts) it work. but when data from server come and i set the config value the countdown not updating. thanks

[2018-01-31 06:51] cipchk commented on #15
Pls provider your coding.

[2018-01-31 11:59] diazsasak commented on #15
my template :

[code]

my TS :
[code]

thank you for your response. i have console.log my moment stuff variable and it successfully got diff time in second

[2018-01-31 13:00] cipchk commented on #15
[code]

[2018-01-31 13:05] diazsasak commented on #15
it work. i'm set demand to true hoping it to not start automatically on component init. but the leftTime is always set to zero. but i'll remove it and use stop() and pause() to stop it. thanks

[2018-01-31 13:05] #15 closed, assigned to nobody

[2018-02-18 14:21] code-wizard opened #16 "Notify triggers only at the end of the timer."
`<countdown [config]="{leftTime:results?.time_limit,notify: [ 2, 5,10,20 ], 'size': 'large'}"
                             (notify)="onTimetick($event)"

                    $!h!:$!m!:$!s!
                  </countdown>`
How can I call a function every second?

[2018-02-20 05:37] cipchk commented on #16
Sorry, no yet.

[2018-02-20 05:43] code-wizard commented on #16
I forked you and Implemented a ticker that triggers the left time every
second.

On Tue, 20 Feb 2018 at 11:07 AM, 卡色 <notifications@github.com> wrote:

[2018-03-02 01:15] xbu opened #17 "restart not working"
need to restart the timer when finished,  restart method not work in finished event.
but worked when I fired a button click event.

demo https://stackblitz.com/edit/ngx-countdown-setup-asxjxk?file=app%2Fapp.component.html

[2018-03-28 14:57] cipchk commented on #17
i think not bug, will be destroy after `finished` of the event triggered. so you can use `setTimeout` changed exection order, link this https://stackblitz.com/edit/ngx-countdown-setup-qd6z37?file=app/app.component.ts

[2018-03-28 14:57] #17 closed, assigned to cipchk

[2018-04-05 09:39] paragyelonde opened #18 "About Language ?"
How do i change the language of countdown to English..???

[2018-04-05 09:50] cipchk commented on #18
What do you mean?

[2018-04-05 12:50] #11 closed, assigned to cipchk

[2018-04-05 12:50] #12 closed, assigned to nobody

[2018-04-05 12:50] #13 closed, assigned to nobody

[2018-04-05 12:50] #7 closed, assigned to nobody

[2018-04-05 12:50] #10 closed, assigned to nobody

[2018-05-06 23:59] rajpat opened #19 "ngx-countdown error when using with angular 6.0.0"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
build errors when compiling with latest version of angular version 6.0

ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped v

[2018-05-08 01:34] hectorccmx commented on #19
Same issue here, I think it's beacuse current version depends on angular 5.2.0.

[2018-05-08 01:36] cipchk commented on #19
coming soon

[2018-05-08 01:46] hectorccmx commented on #19
Could you tell us when you spect to release a bug fix? This is not pressure, we need to know in order to make a decision. Thanks in advance

[2018-05-08 02:37] #19 closed, assigned to nobody

[2018-05-09 18:02] myang310 opened #20 "ERROR Message"
[code]

I'm getting this when I try to run my project locally after installing ngx-countdown.

[2018-05-09 18:09] myang310 commented on #20
Works when I depreciate to 2.1.0

[2018-05-09 18:11] cipchk commented on #20
the latest version just only used in angular 6

[2018-05-09 18:16] myang310 commented on #20
So for Angular 5 support I have to version lock to 2.1.0?

[2018-05-09 18:38] taipeiwu commented on #20
I also have the same problem in angular 5.

[2018-05-17 08:48] ududsha commented on #18
Check the example here: you will figure it out.
https://cipchk.github.io/ngx-countdown/#/

[2018-05-22 08:33] thanatos915 commented on #20
I also have the same problem in angular 6

[2018-05-23 18:49] lydialim opened #21 "Critical dependency: the request of a dependency is an expression"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Compiler return these warnings:
[code]

The workaround I had was to remove `@angular/core` from `ngx-coutdown/node_modules` manually. It looks to be the same issue as https://github.com/dan

[2018-06-05 17:54] jma-9code opened #22 "Refresh component after lefttime update"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[X ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Update config.lefttime, component not refreshed

## Expected behavior
Update config.lefttime, component updated

## Environment

<pre><code>
Angular version: 6.0.0
ngx-countdown version: l

[2018-06-06 02:02] cipchk commented on #22
Yes.

A temporary solution changed time value via `config` parameter.

[2018-06-06 05:28] jma-9code commented on #22
If you change the config.lefttime parameter, you need to refresh the page to see the new value applied.

[2018-06-06 05:30] cipchk commented on #22
Please try to reproduce via https://stackblitz.com/edit/ngx-countdown-setup, thanks!

[2018-06-06 18:03] jma-9code commented on #22
https://stackblitz.com/edit/ngx-countdown-setup-fuu7r7

[2018-06-07 01:14] cipchk commented on #22
A working [demo](https://stackblitz.com/edit/ngx-countdown-setup-gcmdyf?file=src/app/app.component.ts)

[2018-06-07 04:26] phuong-dut-es opened #23 "How can i get the current count down time to program the other functions?"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2018-06-07 04:28] cipchk commented on #23
sorry, just only via `notify` parameter.

duplcated of #16

[2018-06-08 21:32] salmankazmi opened #24 "Version 3.0.0 not working with Angular version 5.1.3"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
[code]

Throws this error when using version 3.0.0 with Angular 5.1.3. Gets fixed when I downgrade the countdown version to 2.1.0. I am not able to use the Countdowncomponent as a result.

[2018-06-09 03:45] cipchk commented on #24
Pls using `^2.0.0` version in angular5.

[2018-06-14 06:31] pangshangggg opened #25 "ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'. node_modules/ngx-countdown/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'."
ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.
node_modules/ngx-countdown/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.

[2018-06-14 07:08] cipchk commented on #25
duplcated of #24

[2018-06-14 07:08] #25 closed, assigned to nobody

[2018-07-23 10:44] belall-shaikh commented on #14
I think the issue is still present in 3.0.1

[2018-07-23 12:03] belall-shaikh commented on #14
check at https://stackblitz.com/edit/ngx-countdown-issue
steps to reproduce
1- view timer route
2- wait till time finishes.
3- revisit the route

you will see that the timer doesn't start unless the page is refreshed.

[2018-08-03 12:22] belall-shaikh commented on #14
I was able to fix this by calling the counter restart in a setTimeout method in ngOnInit

setTimeout(() => this.counter.restart());

[2018-08-03 12:27] belall-shaikh commented on #14
I have updated the example:  https://stackblitz.com/edit/ngx-countdown-issue

[2018-09-16 07:38] salmankazmi commented on #24
As suggested will be using  v2. Lets see.

[2018-09-16 07:38] #24 closed, assigned to nobody

[2018-09-29 18:06] #23 closed, assigned to nobody

[2018-09-29 18:06] #18 closed, assigned to nobody

[2018-09-29 18:38] #20 closed, assigned to nobody

[2018-09-29 18:38] #21 closed, assigned to nobody

[2018-09-29 18:38] #14 closed, assigned to cipchk

[2018-09-29 18:38] #22 closed, assigned to nobody

[2018-11-06 12:16] hassan-haghi opened #26 "Update to angular 7"
Hello
Please update to angular 7

thank you

[2018-11-06 12:47] cipchk commented on #26
The laster version can be used in angular7, including `prod` env.

[2018-11-07 12:45] #26 closed, assigned to nobody

[2018-11-07 13:19] ravetroll commented on #26
I just updated to angular 7.

Whole app is working fine except for this component with these compile warnings (not errors):

`./node_modules/ngx-countdown/node_modules/@angular/core/fesm5/core.js
4982:15-36 Critical dependency: the request of a dependency is an expression

./node_modules/ngx-countdown/node_modules/@angular/core/fesm5/core.js
4994:15-102 Critical dependency: the request of a depend

[2018-11-07 13:24] hassan-haghi commented on #26
When I upgraded to  angular 7, I also gave this error.

[2018-11-07 13:36] ravetroll commented on #26
Its failing to compile with this error:

`ERROR in ../node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.
../node_modules/ngx-countdown/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.`

I think it is because it refers to Angular 6.1 in its ow

[2018-11-07 13:38] cipchk commented on #26
https://unpkg.com/ngx-countdown@3.1.0/package.json

[2018-11-07 13:44] ravetroll commented on #26
I see that package.json @cipchk .  What can be done to fix this problem?  It looks like this ngDevMode is created in 2 places, in the app node_modules and then in the node_modules of ngx-countdown.  I am not sure why it would be a problem now when it was running fine with my app on Angular 6.1.x

[2018-11-07 13:47] ravetroll commented on #26
I tried an ng build --prod and got
`ERROR in ngx-countdown\countdown.ts(7,2): Error during template compile of 'CountdownModule'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called in 'NgModule'
    'NgModule' calls 'ɵmakeDecorator'.
../node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.
../no

[2018-11-07 14:09] ravetroll commented on #26
Ok, I resolved it by deleting the node_modules folder out of the ngx-countdown folder.  That meant there were no longer two copies of the file.

[2018-11-28 15:55] mcarson28 opened #27 "How to reset timer display after restart()"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[x ] Documentation issue or request
</code></pre>

## Current behavior
When restarting the countdown timer, the display stays at the number I stopped at or 0 if it counted all the way down

## Expected behavior
Is there a way to reset the timer display to the

[2018-11-30 22:49] diazsasak opened #28 "Cannot use with Angular AOT"
error hapen when: ionic cordova build android --prod --release

typescript error
            Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function calls are
            not supported. Consider replacing the function or lambda with a reference to an exported function, resolving
            symbol NgModule in
            I:/projects/.../node_modules/ngx-co

[2019-01-02 09:51] mohsen69 opened #29 "Counting step is 2 rather than 1"
Hello .

When counter starts , the seconds decreased 2 by 2.
Even when i use demo sample in my project.

how can i fix it?

here is markup
`<countdown [config]="{leftTime: 1000 * 10}">$!m!:$!s!</countdown>`

in other word
decrease speed is faster than 1 second

[2019-01-02 10:05] cipchk commented on #29
Sorry, i don't understand what you mean, but i confirm working via `leftTime`.

![demo](https://user-images.githubusercontent.com/2987467/50587421-dad9f800-0eb8-11e9-8dbe-ed301126fd27.gif)

[2019-01-02 10:11] mohsen69 commented on #29
Thanks. When i moved sample to another component , counter worked correctly.

[2019-01-02 10:36] #29 closed, assigned to cipchk

[2019-01-31 21:56] satanand7 commented on #18
I mean i want this in english.

[2019-01-31 22:01] satanand7 opened #30 "How can i get it in english."
I don't understand this language. How can i get it in English.

[2019-02-01 10:10] cipchk commented on #30
duplcated of #18 , but i don't know what the meaning of "language" means?

[2019-02-06 10:59] IraErshova commented on #30
@cipchk Could you please delete hieroglyphs from the template:
Because it affects all people who want to use your package but couldn't because of  hieroglyphs

```template:  '$!h!时$!m!分$!s!秒',```

[2019-02-06 11:01] IraErshova commented on #30
See what I meant in my comment above
![screenshot from 2019-02-06 13-00-25](https://user-images.githubusercontent.com/14790520/52337065-40b52480-2a0f-11e9-9a0a-f7888e414cd1.png)

[2019-02-06 11:54] #30 closed, assigned to nobody

[2019-02-16 09:23] ghost opened #31 "error in '@angular/core'"
WARNING in ./node_modules/ngx-countdown/fesm5/ngx-countdown.js
85:38-54 "export 'defineInjectable' was not found in '@angular/core'

[2019-02-16 09:29] cipchk commented on #31
Pls check your angular version is `6` or `7` in local project, If using `2.1.0` version when angular version is `5`.

[2019-02-18 14:47] ghost commented on #31
thanks

[2019-02-18 19:46] Klanders85 commented on #31
The app I'm building(which is using ngx-countdown) is being written in Angular 6. I am using ngx-countdown version 3.1.0. All of this is being packaged up as a library and dropped into another Angular app that uses version 5. Everything was working fine on Friday, and now I'm getting the same error mentioned above...

Any ideas or direction you could point me in? Thanks!

[2019-02-19 02:24] cipchk commented on #31
@Klanders85 The global configuration feature has been added in 3.2.0 and uses `@Injectable({ providedIn: 'root' })` as the scope, which is an option supported by angular `6` or `7`.

so, you can try to fix it to the `3.1.0` version.

[2019-02-19 16:55] Klanders85 commented on #31
That fixed the issue. Thank you for the help @cipchk!

[2019-03-04 14:52] bogacg opened #32 "Timer (forward) instead of countdown"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[X] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Time counts down

## Expected behavior

Option to make timer counts time forward (till an end point, minutes or Unix ms in future)

I liked this component, good job, however it would be ev

[2019-03-12 08:21] iSerganov opened #33 "Countdown to events coming in more than 100 days is displayed incorrectly"
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request

## Current behavior
As far as I understand, for the moment maximum supported time gap for countdown is 100 days. If I need to countdown for a certain time that will occur later than in 100 days, the first number won't be displayed. E.g. using the following template : $!d!:$!h!:$!m!:$!s! for date and time in 215 days will give m

[2019-05-06 11:49] suleodu commented on #16
Hello i will like to know the trick you did to get it notify every seconds pls..

[2019-05-06 11:51] code-wizard commented on #16
Clone my repo the tickerbranch branch. It has the updated code.

https://github.com/code-wizard/ngx-countdown

On Mon, 6 May 2019 at 5:19 PM Adedayo Sule-odu <notifications@github.com>
wrote:

[2019-05-12 10:07] carol-braileanu commented on #29
I am having the same problem. Did you figure out the cause?

[2019-05-24 09:01] nektobit opened #34 "Remove the first zero?"
Hello everyone, did not find this in the documentation. Is it possible to remove the first zero if I have the line '01 day 05 hours' to make '1 day 5 hours' ?

[2019-05-27 07:54] riponghosh commented on #33
Hi. You can config as you wise.
`<countdown [config]="{leftTime: 359994990.9, clock: ['d', 100, 2, 'h', 100, 2, 'm', 60, 2, 's', 60, 2, 'u', 10, 1] }">$!d!:$!h!:$!m!:$!s!</countdown>`
here 'd', 100, 2, means day calculate range is 100 and show digit is 2.
so change the date range and show digit number as you wise.
Like
`<countdown [config]="{leftTime: 359994990.9, clock: ['d', 1000, 3, 'h', 100, 2

[2019-05-29 22:40] ghost commented on #34
Did you figure this out? I'm trying to do the same thing.

[2019-06-04 01:04] nektobit commented on #34
@jackparkerop i am migrate to another solution

[2019-06-04 13:56] sudharsan203 commented on #32
i am facing same issue here, #32

[2019-06-17 14:18] pockata-kt commented on #33
**Please!** Document how exactly can we configure the timer. I wanted to show the remaining time, but only show seconds and minutes (hours and days to be added to the minutes). It was extremely hard for me to figure out how I should do that and I'm still not sure I did it the right way.

[2019-06-18 06:15] riponghosh commented on #33
You can config like,
<countdown [config]="{leftTime: 360000, clock: ['m', 1000000, 5, 's', 60, 2, 'u', 10, 1]}"> $!m! Minutes $!s-ext! second</countdown>

here 'm', 1000000, 5, means Minutes calculate range is 1000000 and show digit is 5.
The leftTime will show in Minutes and second.

[2019-06-18 07:23] pockata-kt commented on #33
Is there any way possible to not show the leading zeros and still be able to show big numbers?
I.e. when there are 100 minutes left to show `100:00`, and when there is 5 minutes left to show `5:00`, not `005:00`?

[2019-07-08 10:37] bejgumshirisha commented on #32
Resolved somewhat this issue by modifying code
I created a new input variable in ConfigTimer interface to check the type of countdown required

Modified Init Method as
 if(me.config.countType == 'forward'){
      me.isCountDown = true;
    }
    else{
      me.isCountDown = false;
    }
Modified reflow method as follows :
if(me.isCountDown){
      //this code for count up
     me.left = me.left +

[2019-07-14 09:18] frbuccoliero opened #35 "Add months, weeks and years please"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ X ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

No months, weeks and years available to show

## Expected behavior

Months, weeks and years available to show

## Environment

<pre><code>
Angular version: LTS

ngx-countdown version: LT

[2019-07-27 08:08] fromage9747 commented on #34
@nektobit What solution did you migrate to?  I am facing the same issue.  I want to remove the first zero.

[2019-07-28 16:50] HansDaigle opened #36 "Clock running too fast"
<pre><code>
[X ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
The clock seconds are changing too fast when updating the `lefttime` in NgOnChanges, almost twice as fast as a normal clock.

## Environment
Ubuntu 18

This is my current code:

html:

[code]

.ts:
[code]

[2019-07-28 16:51] HansDaigle commented on #29
Same issue here

[2019-07-28 16:57] HansDaigle commented on #36
Resolved by casting the `lefttime` value to a String. This librairy dosent do well with floats

[2019-07-29 00:19] nektobit commented on #34
Hi @fromage9747 i am use this:
https://www.npmjs.com/package/ngx-moment,

[2019-07-29 04:17] pradeep8093 commented on #36
I am too facing the same issue.

Any help?

[2019-07-29 05:05] fromage9747 commented on #34
@nektobit Thanks for that.  Just to confirm, ngx-moment is just a date manipulator, not a countdown timer, correct?  How are you using it as a countdown timer?  Or does your requirement for your app not need it to be a timer?

[2019-07-29 12:35] nektobit commented on #34
@fromage9747 I use it to display the string 'Uptime: 6 minutes' (amDuration pipe)
if you need only seconds coundown you can use

[code]
and {{ time }} in your template

[2019-07-31 23:49] ebustillo opened #37 "SUPPORT FOR TIMESTAMP"
I´m Using angular 8
Node js 10.x

I get de date from the server (this date is like lock until account from logging attemps)  in timestamp and i passed it to the ngx countdown library in time left but I see that the countdown is no correct

[2019-08-02 00:34] bijanmmarkes commented on #36
@HansDaigle @pradeep8093 - This issue is related to how the timer gets initialized. If it gets initialized at `leftTime: 0` or `empty` then it will automatically start counting down 2-3x faster rather than per second, I'm not sure why this issue occurs nor do I feel like finding out, but it does.

Solution:
Initialize the countdown timer config using a `leftTime` value of `1` or greater.

This may

[2019-08-02 10:10] kristiWabion opened #38 "Timer does not update value if option demand is true"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[X ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

The timer does not update the its value if it is stopped( demand true).
Current config
[code]
When the variable shutdownTimer changes the value the timer does not reflect this change. If

[2019-08-02 10:15] cipchk commented on #38
According to [Angular documentation](https://angular.io/guide/lifecycle-hooks#onchanges)，should be not use change a proerty value, you can change the `config` pass to full object.

[2019-08-02 11:28] kristiWabion commented on #38
Hello @cipchk ,
Thank you for the answer. I changed the config as below
`
<countdown class="text-lg" [config]=timerObj[key].config>
$!h!:$!m!:$!s!/countdown>
`
but I am still having the same problem. I think the problem is more related with the option "demand: true". Do you have any other suggestion that I can check?
Regards
Kristi

[2019-08-02 11:32] cipchk commented on #38
A simple demo: https://stackblitz.com/edit/ngx-countdown-setup-nvf7kk?file=src/app/app.component.ts

[2019-08-02 11:37] kristiWabion commented on #38
@cipchk Thank you for the demo. Can you try to change the value of demand to **true** on this method?
`
change(): void {
    this.timerObj = {
      t1: {
        config: {
          leftTime: 20,
          demand: true,
        }
      }
    }
  }
`
The timer will not update as I stated.

[2019-08-02 11:39] cipchk commented on #38
Yes, you muse call `begin()` method, like this:

[code]

[2019-08-02 11:42] kristiWabion commented on #38
@cipchk What I need is a way on how to update the timer value before it is running.
So if the timer is showing 02:00 I want to increment the value to 04:00 and then start the countdown.
What is happening right now is that when I increment the value the timer still shows 02:00, but when I start the timer it shows 03:59 ... ,so I guess the timer only gets the update when its started.
Is there any wa

[2019-08-02 11:49] cipchk commented on #38
@kristiWabion Sorry, not support increment or decrement operator.

But you can change the `config` property in running to soloved it, like this:

[code]

[2019-08-02 11:56] kristiWabion commented on #38
@cipchk Thank you. Would be great to have this feature in the future.

[2019-08-20 10:12] mrklika opened #39 "[config]="{ notify: [ 10 ] } , countdown does not emit (notify) when the counter is set to <= 10 seconds (depends on notify config value)"
Hello, when I set the config notify value for example to 10 second to force the countdown to notify me that less than 10 seconds left and at the same time start the counter to count time let´s say for 6 seconds. The counter does not emit (nofify).

It emits (notify) only when I set the counter for more than the value in config ( { notify: [ 10 ] } ).

![image](https://user-images.githubusercontent

[2019-08-24 02:29] SilinaGeorge opened #40 "Asian characters"
Is there a way to get rid of the Asian characters? This is my code

`<countdown [config]="{leftTime: 10}" #cd1 (finished) ="timerFinished()"></countdown>
<button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
<button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
<button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button>`

and this is how my

[2019-08-24 03:27] #40 closed, assigned to nobody

[2019-08-27 19:02] zerr0s opened #41 "Not working with angular 8"
Hello, forgive me for my bad english.

I can't get working ngx-countdown with angular 8. Typescripts like OK, but when calling the page, an error append:

`TypeError: Cannot read property 'stop' of undefined`

[code]
[code]
Any idea to get it working please ?

Thanks.

[2019-08-28 04:17] cipchk commented on #41
Should be specified template variable, like this:

[code]

And `{static: false}` muse be using `{static: true}`, pls refer to https://angular.io/guide/static-query-migration

[2019-08-28 04:17] #41 closed, assigned to nobody

[2019-08-31 10:11] #36 closed, assigned to nobody

[2019-08-31 10:21] #16 closed, assigned to nobody

[2019-08-31 10:21] #27 closed, assigned to nobody

[2019-08-31 10:21] #28 closed, assigned to nobody

[2019-08-31 10:21] #31 closed, assigned to nobody

[2019-08-31 10:21] #32 closed, assigned to nobody

[2019-08-31 10:21] #33 closed, assigned to cipchk

[2019-08-31 10:21] #34 closed, assigned to nobody

[2019-08-31 10:21] #35 closed, assigned to nobody

[2019-08-31 10:21] #37 closed, assigned to nobody

[2019-08-31 10:21] #38 closed, assigned to nobody

[2019-08-31 10:21] #39 closed, assigned to nobody

[2019-08-31 10:22] fromage9747 commented on #34
@cipchk Does this mean that this is now included in the next build/release?

[2019-08-31 10:25] cipchk commented on #34
@fromage9747 Yes, you can see such an example in [Custom format date](https://cipchk.github.io/ngx-countdown/#/)

[2019-09-02 14:52] cubitt-nottscc opened #43 "timeLeft <= 0 sets timer to 23:59:59"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
When timeLeft argument is 0 or negative, countdown rolls around to 23:59:59.

Previous version would stay at 00:00:00.

## Expected behavior
Countdown stays at 00:00:00

## Environment

<p

[2019-09-02 19:50] zerr0s commented on #41
Hi, I don't understand the answer. I do not have problem to run the countdown using  angular 8, the problem is that all functions to control the timer are KO with an error like:

I've changed from false to true for viewchild but still the same problem.

[code]
TS saying for start:

[2019-09-02 20:45] zerr0s opened #44 "cannot use methods"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ X ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

No methods works (begin, stop, resume, pause, etc.).

Error: Cannot read property 'begin' of undefined

Error: Cannot read property 'stop' of undefined

If these methods are put in a set

[2019-09-03 01:30] cipchk commented on #41
@zerr0s can you provider a reproduce via https://stackblitz.com/edit/ngx-countdown-setup (fork this)

[2019-09-03 01:39] cipchk commented on #44
@zerr0s According the angular lifecycle, you can only actually trigger in `AfterViewInit` event.

[2019-09-03 01:39] #44 closed, assigned to nobody

[2019-09-03 20:14] aronlundgren commented on #43
did you find any workaround for this?

[2019-09-04 09:00] #43 closed, assigned to nobody

[2019-09-04 09:00] cipchk commented on #43
@cubitt-nottscc @aronlundgren fix by `8.0.1`

[2019-09-11 09:01] belall-shaikh commented on #40
How did you fix this.

[2019-09-11 12:13] SilinaGeorge commented on #40
I think there are two ways of doing it, I'm not too sure about this first one I didnt try it, in the config you use the format tag. You can find more about it in the readme file. I did it like this
``` <countdown class="text-lg"  (finished)="timerFinished()" [config]="config"> $!h!:$!m!:$!s!</countdown>```

[2019-09-25 00:44] augustotmw opened #46 "error: export 'ɵɵinject' | 'ɵɵdefineInjectable' was not found in '@angular/core'"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
I install and just put the plugin to work in project (importing on module and adding the tag on html).

When I compile, its showing me two warnings:

<pre><code>
WARNING in ./node_modules/n

[2019-09-25 03:25] cipchk commented on #46
the `8.x` version only support angular8, pls refer to [abort `defineInjectable` description](https://github.com/angular/angular/issues/30413#issuecomment-491531239).

you can tring `3.x` version.

[2019-09-25 14:24] augustotmw commented on #46
Thats it! Work perfectly. Thanks a lot! 😄

Congratulations and thanks for this amazing work. 😊👏👏👏

[v 3.1.0](https://github.com/cipchk/ngx-countdown/releases/tag/3.1.0)

[2019-09-25 14:24] #46 closed, assigned to nobody

[2019-09-25 14:30] augustotmw commented on #46
One question:

In version 3.1.0 dont have "format" config option implemented yet?

[2019-09-28 02:15] cipchk commented on #46
Abort version 3.x, you can refer to https://github.com/cipchk/ngx-countdown/tree/3.x

[2019-10-02 13:38] LoneyGG opened #47 "When pausing and using {demand: true} is not visible on html, span where numbers should appear is empty with Angular 8"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

In a complete new angular 8 project when pausing or using demand=true countdown won't be visible in html.

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-co

[2019-10-02 14:28] LoneyGG commented on #47
Found the problem, on commit: e58a5e66e9f5777c5383db32456503f439768e37  you moved the instruction this.reflow(0, true); to the bottom of the onInit function so its never called on pause or on demand so it will never add text.

[2019-10-02 23:49] gonzalezlrjesus opened #48 "Change the left variable from private to public to working with it."
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

the variable left in the file countdown.components.d.ts is currently as private

## Expected behavior

Hi guys, i was working with ngx-countdown, but i needed work with the left variable b

[2019-10-03 06:18] kalimulhaq opened #49 "This is not working if leftTime is more than 24 hours"
This plugin is not working if **leftTime**  is more than **24 hours**
e.g.
leftTime: 60000 // 166 Hours
count down is
**22:40:00** // which is wrong

[2019-10-05 08:59] NurGuz23 commented on #47
Same issue here, when u resolve ir? Thx

[2019-10-06 17:17] NurGuz23 commented on #47
Can u resolve it?

[2019-10-06 18:46] LoneyGG commented on #47
Just go back to the previous version / release and you won't encounter the issue

[2019-10-07 18:39] NurGuz23 opened #50 "Question, not issue. Styles - Size"
Hi,

can u change the size of the count-down¿

[2019-10-07 18:55] #50 closed, assigned to nobody

[2019-10-07 18:56] NurGuz23 commented on #50
not issue

[2019-10-09 14:48] cipchk commented on #49
@kalimulhaq Can u provide the `ngx-countdown` version and example code?

[2019-10-09 14:50] cipchk commented on #47
@LoneyGG @NurGuz23 Sorry, i'm too busy, i will fix this in the recent.

[2019-10-09 14:53] cipchk commented on #48
You can get `left` through the `event` event, but you need settings `notify: 0` inn `config`.

[2019-10-10 00:35] gonzalezlrjesus commented on #48
Ok, thank you. what happens is that I working with WebSocket and need change `left `
 time at any time. not only when at zero.

[2019-10-17 11:13] fuzails commented on #49
@cipchk
Please have a look at this [StakBlitz](https://stackblitz.com/edit/ngx-countdown-setup-t82gh9) this is on version 8.0.0

It is setup for 2 days i.e. 48 hours -> 2880 minutes -> 172800 seconds
It should be counting down from 02d 00h 00m 00s but instead we get something like
02d 11h 57m 23s after initially showing 03d 12h 00m 00s

Compared to version 3.2.0 here [StackBlitz](https://stackblit

[2019-10-22 17:51] NurGuz23 commented on #47
Thx so much, guy!

Do u know how many time u could?

[2019-10-23 12:06] #47 closed, assigned to nobody

[2019-10-23 12:06] #48 closed, assigned to nobody

[2019-10-23 12:18] cipchk commented on #49
@kalimulhaq @fuzails  Yes, this is a problem.

In 3.x we are using manual parsing, which is why we need a weird `$!h!` template. And `8.x` uses `new Date`, a standard date-time format.

A standard TimeStamp will be converted to `Thu Jan 01 1970 08:00:00 GMT+0800 (China Standard Time)`, which is why there is more `1d` in `dd`.

So, if you hava `dd` requirement, you can subtract the extra `1days` wi

[2019-10-28 10:52] fuzails commented on #49
Will fork and have a look, it may just be some TZ tinkering required to resolve.

[2019-10-28 16:05] fuzails commented on #49
@cipchk
Ok, so the problem here has nothing to do with timezones, but rather the fact that you cannot use standard parsing with formatDate. This is basically a design flaw in version  8, and the only way to fix this is actually to go back to manual parsing.

formatDate is a date function so in a date fuction you cannot have more than 24 hours in a day so if the countdown timer is more than 24 hour

[2019-10-30 05:02] hartjo opened #52 "Ivy"
not working in ivy

ERROR Error: Template error: Can't bind to 'ngIf' since it isn't a known property of 'ng-container'.

ERROR Error: Template error: Can't bind to 'ngIf' since it isn't a known property of 'ng-container'.

ERROR Error: Template error: Can't bind to 'ngTemplateOutlet' since it isn't a known property of 'ng-container'.

core.js:6014 ERROR Error: Template error: Can't bind to 'ngTem

[2019-11-03 14:23] NurGuz23 commented on #47
@cipchk How can I hide the countddown until the countdown begins?

[2019-11-10 18:36] Ankit199 commented on #13
this is not working with angular 8 .. I am also facing same issue .
ngx-countdown (finished) event is not firing

[2019-11-21 07:05] Totati opened #53 "Run setTimeout outside NgZone"
stackblitz demo: https://stackblitz.com/edit/ngx-countdown-do-check

## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
[This setTimeout](https://github.com/cipchk/ngx-countdown/blob/master/lib/src/countdown.timer.ts#L51) should be out of t

[2019-11-22 04:00] cipchk commented on #52
Can you provider more information?

[2019-11-22 06:15] hartjo commented on #52
Hi, the library is not working if ivy is enabled i got those errors when trying to compile and run the applications

[2019-11-22 21:46] OldManSmithers commented on #13
Can confirm this is still an issue with Angular 7.  The finished event is never firing, though normal events seem to still be working and you can work with those.  A workaround for those still having an issue with the finished event:

HTML:
`<countdown #countdown [config]="{leftTime: 5, demand: false}" (event)="timesUp($event)">$!h!:$!m!:$!s!</countdown>`

TS:
`timesUp(event) {
    if (event.actio

[2019-11-24 03:59] cipchk commented on #52
I confirm that I can run in lvy, here are my steps:

1. `ng new ng9` (global `@angular-cli` version is `next`)
2. add `ngx-countdown` module
3. `ng build --prod`

[2019-11-24 12:59] #53 closed, assigned to nobody

[2019-11-25 06:01] hartjo commented on #52
ah see im using angular 8.x.x maybe angular 8 and ivy enabled never going to work after all. i've also seen this error in ngtoastr and they said it will never going work using angular 8.x.x and ivy enabled

[2019-11-25 06:01] #52 closed, assigned to nobody

[2019-11-29 14:49] anuragd7 opened #55 "Format error when displaying ngx countdown"
https://stackblitz.com/edit/ngx-countdown-setup 重现问题
[ x] Bug report
[x ] Documentation issue or request

## Current behavior
I want to display only hours and minutes in my ngx-countdown. I dont want to display seconds.
I have set this up as follows in the code below:

html
`<countdown
                    #cd
                    [config]="{ leftTime: leftTime, format: 'h:m', notify: [600, 120] }"

[2019-12-05 06:25] cipchk commented on #49
@fuzails Sorry, forget this issues, i so busy.

you can try custom `formatDate`, like this:

[code]

[2019-12-06 04:28] DaveOdden commented on #55
Use `HH` or `H` in your format. The link to accepted date/time formats in the documentation is a good reference.

[2019-12-11 20:52] DaveOdden commented on #43
When the timer ends, in 8.0.1, The value changes to all zeros. However, if a value exists in the past when this component is initialized, this bug exists. I am *attempting* to use this component to show a countdown for events at a fundraiser and am running into a ton of unexpected behavior. I am having to compare the current date `new Date().getTIme()` to the countdown's date/time in order to set

[2019-12-13 10:22] anuragd7 commented on #55
Thanks that solved it!

[2019-12-13 10:22] #55 closed, assigned to nobody

[2020-01-07 11:32] NithyaSaamy commented on #31
WARNING in ./node_modules/ngx-countdown/fesm5/ngx-countdown.js 107:44-62
"export 'ɵɵdefineInjectable' was not found in '@angular/core'

im getting this error, when i imported this import { CountdownModule } from 'ngx-countdown'; in app module.ts

[2020-01-08 14:43] dheysonalves opened #56 "Runtime Error Object(...) is not a function"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When I import the ngx-countdown on a module, I got Object (...) is not a function.
## Expected behavior

It should work properly with basic usage of the dependency.
## Environment

<pre><c

[2020-01-09 13:36] cipchk commented on #56
Pls use `3.1.0` version, not support angular version `5.x` of latest version.

[2020-01-09 13:36] #56 closed, assigned to nobody

[2020-01-09 13:37] cipchk commented on #31
@NithyaSaamy Duplcated of #56

[2020-01-11 07:48] TomWaterz opened #57 "Autoformat leading 0's?"
Is there a way to auto format and remove the 0's? If there are no days it doesn't show the 00 for days but if there are then it shows the day number?

[2020-01-31 07:14] pearlpandz opened #58 "Preview with strings"
Will you please add "HH MM SS" string with countdown

[2020-01-31 09:33] cipchk commented on #58
Formats a date value, pls refer to [Accepted patterns](https://angular.io/api/common/DatePipe#usage-notes).

BTW, you can also customize the format via [format](https://github.com/cipchk/ngx-countdown/blob/master/src/app/components/demo.component.ts#L21) property.

[2020-02-03 11:28] balreddy-arutla opened #59 "How to get the remain time into component"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-02-04 02:40] pearlpandz commented on #58
Thanks, I used the same.

[2020-02-04 02:41] #58 closed, assigned to nobody

[2020-02-18 19:47] Shubhasis10 commented on #17
Working in angular 9

[2020-02-27 18:45] hubaokun opened #60 "Event notify is not emitted by any applicable directives nor by countdown element for angular 9"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-03-10 23:14] javiersantossanchez commented on #57
Hello @tommhendrick  Yes you can use the prettyText property of CountdownConfig to format your output as you want.

There is an example to remove the hours when the time is less:  https://stackblitz.com/edit/ngx-countdown-setup-a6rgmo

[2020-03-11 14:04] seetharaghavan opened #61 "event.left emitted from (event) always showing the same value and it is not updating when called upon"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ X] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

<countdown #cd1 config = {leftTime: 30} (event)="onHandleEvent($event) />

onHandleEvent($event){
$event.left shows the same 30s and not showing the updated one.
}

## Expected behavior

[2020-03-12 11:36] Brohus commented on #18
@satanand7  did you figure it out??

[2020-03-12 11:37] Brohus commented on #18
@paragyelonde did you figure it out??

[2020-03-25 03:42] #49 closed, assigned to nobody

[2020-03-25 03:43] #60 closed, assigned to nobody

[2020-03-30 21:28] pedcru commented on #29
You must set leftTime > 0 and then it works fine.

[2020-03-30 21:29] leonardlib commented on #29
You must set **leftTime > 0** and then it works fine.

[2020-04-06 00:36] terryjiang1996 opened #63 "Remaining day is not correct (剩余天数显示错误)"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
When setting the config to be
config = {
    "stopTime": new Date('7 April 2020'),
    'format': "d 'd' HH 'h' mm 'm' ss 's'"
}
On the date 6 April 2020,
The day left (d) will be 1, which s

[2020-04-10 18:47] RiadhBg26 opened #64 "how to use it conditionaly with *ngIf"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-04-14 03:54] LuisPeregrinaPSL opened #65 "An accessor cannot be declared in an ambient context."
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
An accessor cannot be declared in an ambient context:
get left() in countdown-component.

## Expected behavior

Executes without problem
## Environment
TS 3.7
<pre><code>
Angular version: 8

[2020-04-14 08:13] #65 closed, assigned to nobody

[2020-04-14 08:18] cipchk commented on #64
A online [demo](https://stackblitz.com/edit/ngx-countdown-setup-mxuk1n?file=src/app/app.component.ts).

[2020-04-14 08:18] #64 closed, assigned to nobody

[2020-04-14 08:19] cipchk commented on #63
Pls refer to [More than 24 hours](https://cipchk.github.io/ngx-countdown/#/) demo.

[2020-04-14 08:19] #63 closed

[2020-04-14 08:23] cipchk commented on #61
Pls using `notify` parament, like this:

[code]

[2020-04-14 08:23] #61 closed, assigned to nobody

[2020-04-14 08:24] cipchk commented on #59
Are you referring to callbacks?

[code]

[2020-04-14 08:27] cipchk commented on #57
@tommhendrick May be the [Custom format date](https://cipchk.github.io/ngx-countdown/#/) example is what you want.

[2020-04-14 08:27] #57 closed, assigned to nobody

[2020-04-14 08:37] terryjiang1996 commented on #63
The product requires more than 7 days countdown and using that demo can be too long for display and also confusing the user. Is there a way to fix that?

[2020-04-14 12:04] terryjiang1996 commented on #63
I got it fixed with that demo, thanks!

[2020-04-17 04:29] LuisPeregrinaPSL commented on #13
In the demo you used angular 5. As of now Angular is in version 9.

In the documentation you have a (done) event, not even that is being triggered. Which brings the issue that the doc says (done) instead of (finished).

[2020-04-20 09:23] pete0959 opened #68 "Timer sometimes overruns!"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Config as follwos:
{ leftTime: 15, format: 's.S', notify: [5], demand:true }

completed action
{action: "done", left: -600, status: 3, text: "59.4"}

## Expected behavior

should go to le

[2020-05-16 13:27] Panther59 opened #69 "Minutes displayed are wrong if your timezone has xx:30 format."
When using this timer in timezone which ends with 30 minutes then time remaining is off by 30 mins. It gets done properly. Its just a issue with display minute string.

When I reviewed your code I notice the root cause for this is that you are using getMinutes() instead of getUTCMinutes().

To reproduce this issue just set your machine timezone to anything which ends with 30 minutes. e,g. +0530.

[2020-05-16 14:12] cipchk commented on #69
ngx-countdown does not use `getMinutes` to get the minutes, but uniformly using `getTime` timestamp, it always uses UTC for time representation, so it does not have a time zone problem.

Can you further use reproduction to explain the issues?

[2020-05-16 14:31] Panther59 commented on #69
I apologies for confusion, it was issue with another npm package, I accidentally reported here.

I originally used your npm package but faced some issue hence switched to other npm package where i discovered this problem.

Please ignore this.

[2020-05-16 14:31] #69 closed, assigned to nobody

[2020-05-16 14:58] cipchk commented on #69
May I ask why ngx-countdown can't meet your needs? So I can improve it better.

[2020-05-29 11:23] komalgmore opened #70 "How to use this timer dynamically for multiple rows"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-05-30 04:49] cipchk commented on #70
@komalgmore Sorry, i don't understand what you mean.

[2020-06-02 10:33] #70 closed, assigned to nobody

[2020-06-05 19:44] rohit-jagannath opened #71 "ngx timer not resertting to 0 on the date part"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
The data part in `<countdown [config]="{ leftTime: 10, format: 'dd:HH:mm:ss' }"></countdown>` is not getting reset to 00 after countdown timer stops.
Currently it is being displayed as belo

[2020-06-06 08:07] cipchk commented on #71
Your link stackblitz.com/edit/ngx-countdown-setup-mfbxtp seems to be broken, can you fix this?

[2020-06-08 05:56] rohit-jagannath commented on #71
@cipchk The link is working fine for me. But this is all i had over there -
<countdown [config]="{ leftTime: 10, format: 'dd:HH:mm:ss' }"></countdown>

[2020-06-09 02:40] cipchk commented on #71
@rohit-jagannath Maybe duplcated of #49

[2020-06-10 01:06] rohit-jagannath opened #72 "ERROR NullInjectorError: StaticInjectorError[t -> t] on deployed server"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I imported the Countdownmodule and started using <countdown> html tag.
Countdown timer works fine when loaded on **localhost:4200**. However, when i deploy the code to server, it throws St

[2020-06-10 08:32] cipchk commented on #72
Pls using `8.0.4` version in angular 8

[2020-06-10 08:32] #72 closed, assigned to nobody

[2020-06-10 16:12] pcf26536 commented on #72
Facing the same issue, i quite can't get the fix.

[2020-06-10 16:17] rohit-jagannath commented on #72
@cipchk It worked after i downgraded ngxcountdown from 9.x.x to 8.0.4. Thank you. :)

[2020-06-10 16:28] pcf26536 commented on #72
Thanks for the explanation

[2020-06-14 16:46] revzo commented on #13
Thanks, working Angular v10 rc! :)

[2020-06-14 16:50] Ankit199 commented on #13
Hi Daniel ,

It's working fine.

Thanks for support

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Daniel Revzo Molnar <notifications@github.com>
Sent: Sunday, June 14, 2020 10:16:58 PM
To: cipchk/ngx-countdown <ngx-countdown@noreply.github.com>
Cc: Ankit kumar shukla <ankitshukla1992@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [cipchk/ng

[2020-06-14 21:31] jongbonga commented on #49
Hi

more than 24hours still isn't working for me, is there any config needed?

[2020-06-14 21:38] jongbonga commented on #49
is there a way to display more than 24hours like in the demo?

[2020-07-19 20:10] db-ruslan opened #74 "Doesn't work when 1d < stopTime < 2d"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

2 days xx hrs

## Expected behavior

Must show 1d xx hrs

## Environment

<pre><code>
Angular version: 10.0.0

ngx-countdown version: 10.0.0

Browser:
- [x] Chrome (desktop) version XX
- [

[2020-07-20 02:54] cipchk commented on #74
Pls refer to [More than 24 hours](https://cipchk.github.io/ngx-countdown/#/) demo.

[2020-07-20 14:32] db-ruslan commented on #74
The demo doesn't make sense, it should be 1 day XX hours rather than 28 hrs.

[2020-07-21 03:53] cipchk commented on #74
This is because the default format string is `HH:mm:ss`, you can changing to `D day - HH:mm:ss`, like this:

[code]

[2020-07-21 13:27] db-ruslan commented on #74
The issue is not related to format, it shows incorrect number of days(2) if stopTime is 1.5 days from now.

[2020-07-21 13:34] cipchk commented on #74
Can you provide an expected example?

[2020-07-23 12:54] Shivampio opened #75 "I don't start action hit once timer started"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[*] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Once the  the timer started it hits the start action.
## Expected behavior
i don't want start action fired.

## Environment

<pre><code>
Angular version: 8.2.14

ngx-countdown version: 8.0.

[2020-07-23 15:31] cipchk commented on #75
You can using [(event)](https://github.com/cipchk/ngx-countdown#countdown) property.

[2020-07-29 01:53] #74 closed, assigned to nobody

[2020-07-30 18:16] kurubavinodkumar opened #76 "ERROR in src/app/shared/shared.module.ts(55,3): error TS2741: Property 'locale' is missing in type '{ format: string; }' but required in type 'CountdownGlobalConfig'."
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
getting below error
ERROR in src/app/shared/shared.module.ts(55,3): error TS2741: Property 'locale' is missing in type '{ format: string; }' but required in type 'CountdownGlobalConfig'.

f

[2020-07-31 05:21] reynave opened #77 "Bugs when run with --prod"
## Bug Report or Feature Request
<pre><code>
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
just use simple code `<countdown [config]="{ leftTime: 100, format: 'm:s' }"></countdown>`
this bugs happen when I serve with "**ng serve --prod**", same problem after **ng build --prod**
<code>
RROR Error: Uncaught (in promise): NullInjectorError:

[2020-07-31 05:48] cipchk commented on #77
Pls using `8.x`

[2020-07-31 06:03] reynave commented on #77
Sorry wrong noted...

I'm use  ` "ngx-countdown": "^9.0.1",`

[2020-08-01 11:29] cipchk commented on #76
Can you provide angular, ngx-countdown versions?

[2020-08-02 08:43] kurubavinodkumar commented on #76
@cipchk  thanks for your interest .
please find below details :-
    angular: 8.1
    ngx-countdown: 10.0.0

[2020-08-02 09:31] cipchk commented on #76
@kurubavinodkumar angular8 just only use `8.x` version, the `10.x` only working in angular10.

[2020-08-03 17:34] AlonsoK28 opened #78 "How to know when time is over?"
Is possible to know if a countdown has ended? And then remove it?

[2020-08-04 02:14] cipchk commented on #78
You can use `event` to monitor. pls refer to https://github.com/cipchk/ngx-countdown#countdown

[2020-08-04 02:14] #78 closed, assigned to nobody

[2020-08-04 07:45] mohsen69 opened #79 "Fire event if timer.left < 5 minutes"
I want to do something if timer left property was lower than 5 minutes.
Something like this :

[code]

[code]

How can i do this ?Thanks

[2020-08-04 10:52] cipchk commented on #79
You can using `notify: 0`, it will be trigger every time:

[code]

[2020-08-04 13:05] mohsen69 commented on #79
Thank you so much @cipchk.
I leave a sample for those who want to see final code :

`<countdown [config]="{demand: true, leftTime: 8000, notify: 0}" (event)="onTicks($event)"`

[code]

[2020-08-04 13:05] #79 closed, assigned to nobody

[2020-08-06 15:56] #76 closed, assigned to nobody

[2020-08-08 07:26] jbakoc1 opened #80 "Example of date-fns usage"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: 9.1.0

ngx-countdown version: 8.0.3

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-08-09 02:30] cipchk commented on #80
https://github.com/cipchk/ngx-countdown/blob/master/src/app/components/demo.component.ts#L45

[2020-08-09 02:30] #80 closed, assigned to nobody

[2020-08-11 06:48] bretbas opened #81 "countdown component displaying time like -1:10:01:29"
Hello everyone!
I have a date `expire`, which i want to pass in your `countdown`. And I do that.
But when the `expire` date is really expired, the `countdown` component display it like this `-1:10:01:29`.
But I want `00:00:00:00`

How can I do that?

[2020-08-11 09:52] cipchk commented on #81
It's easy to achieve with `render`, like this:

[code]

[2020-08-11 09:52] #81 closed, assigned to nobody

[2020-08-11 10:30] bretbas commented on #81
@cipchk , Thanks!

[2020-08-19 19:12] jitu5001 opened #82 "Version 8.0.4 not available in git release, but its available in https://www.npmjs.com/package/ngx-countdown/v/8.0.4"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-08-20 02:40] cipchk commented on #82
I'm lazy, the version is based on npm, sorry.

[2020-09-01 14:04] koraysels opened #83 "can we count up ?"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-09-03 03:38] cipchk commented on #83
Sorry i don't understand your needs?

[2020-09-03 06:42] koraysels commented on #83
Instead of counting down to a date.. counting up from a date untill now.?

Sorry for being brief, sent from my iPhone

[2020-09-03 06:59] cipchk commented on #83
Sorry, not support.

[2020-09-17 10:52] SandeepSagarPanjala opened #84 "How do I count from dd HH mm ss"
Want to display counter time from days, hours minutes, and seconds is it possible?

I tried:
<countdown [config]="{leftTime: 231321312: '$!d!d $!h!h $!m!m $!s!s'}"></countdown>
<countdown [config]="{leftTime: 231321312, format: 'dd hh mm ss'}"></countdown>

none of them are working

[2020-09-17 11:15] #84 closed, assigned to nobody

[2020-09-17 11:15] SandeepSagarPanjala commented on #84
I've been through closed issues and found the solution

[2020-10-24 20:03] omarkamoun1 opened #85 "How to make counter more than 24 hours for example 50:00:00 and not day format?"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Safari (de

[2020-10-28 18:50] jereval0x commented on #84
Which closed issue solved your problem?

[2020-10-28 19:10] jereval0x commented on #49
https://stackblitz.com/edit/ngx-countdown-setup-t82gh9 This doesn't work anymore on Angular ang ngx-countdown version 10^

[2020-11-03 06:08] cipchk commented on #85
[More than 24 hours](https://cipchk.github.io/ngx-countdown/#/)

[2020-11-04 21:17] cfmorales commented on #85
Theres no code in your example

[2020-11-05 02:39] cipchk commented on #85
@cfmorales https://github.com/cipchk/ngx-countdown/issues/49#issuecomment-561989905

[2020-11-05 02:39] #85 closed, assigned to nobody

[2020-11-09 13:41] ferreria23 commented on #68
This still happening, it happens in Android when the app is in background.

@pete0959  did you managed to fix this?

[2020-11-09 14:03] pete0959 commented on #68
Hi,
No, it's still an issue.

[2020-11-10 11:17] #68 closed, assigned to nobody

[2020-11-10 11:21] cipchk commented on #68
@pete0959 @ferreria23 Sorry, busy at work, try to use version `10.0.2`

[2020-11-13 07:31] #59 closed, assigned to nobody

[2020-11-17 10:46] dangminhbk opened #88 "How can i config the countdown dynamically ?"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

`                    <countdown class="text-orange text-lg" [config]="{ stopTime: calculateEndTime(item.endTime), format: 'hh:mm:ss'  }">
                    </countdown>`

`
  calculateEn

[2020-11-17 11:30] cipchk commented on #88
Like this:

[code]

[2020-11-17 15:36] dangminhbk commented on #88
Thanks you!

[2020-11-17 15:36] #88 closed, assigned to nobody

[2020-12-20 22:49] mawebdev opened #89 "Local time change"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
I set the leftTime to a specific time, e.g. 120 seconds.
When I change the time of my local machine, it also changes the counter.

## Expected behavior
- I get a server timestamp and I want

[2020-12-21 01:12] cipchk commented on #89
Sorry ngx-countdown does need a local time to maintain the countdown frequency. In fact, what you get from the server is a timestamp, which you can convert into seconds based on local time, for example:

[code]

[2021-01-14 07:14] Blamax commented on #71
I can confirm that this problem still exists. <countdown [config]="{ leftTime: 10, format: 'dd:HH:mm:ss' }"> stops at 01:00:00:00

[2021-01-18 06:40] jek-bao-choo commented on #83
ngx-countdown is for countdown.
For countup use ngx-countUp https://github.com/inorganik/ngx-countUp

[2021-01-24 10:06] FolabiAhn opened #90 "Notify at a specific time left ?"
## Possible Bug Report
I set a 15mn countdown.
I would like to notify when 60 sec left. But the notify is trigger at the start of the application.
[code]

**I set a stackblitz : https://stackblitz.com/edit/ngx-countdown-setup-twyrr6**

## Current behavior
Notify is trigger at the start of the application

## Expected behavior
Notify when 60 sec left.

**Am i missing something ? Thanks**

[2021-01-25 08:29] cipchk commented on #90
You need limit `event.type` is `notify`, pls refer to https://github.com/cipchk/ngx-countdown#countdownevent.

[2021-01-25 08:29] #90 closed, assigned to nobody

[2021-01-25 08:56] FolabiAhn commented on #90
Can you please write the code to do it.
**I follow your example here : https://cipchk.github.io/ngx-countdown/#/**

[2021-01-25 09:07] cipchk commented on #90
Like this:

[code]

[2021-01-25 09:15] FolabiAhn commented on #90
Ooh ok thanks, I get it.
Notify type is an array of number, I was setting it to a number.

[2021-02-11 09:17] marmooli opened #91 ""restart" works from click event but nut from handleEvent function"
I can call restart() from a button click event manually and it works, but if do the same from the handleEvent it doesn't work:

  @ViewChild('cd', { static: false }) private countdown: CountdownComponent;

 <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown>
 <button (click)="onRestart()">restart</button>

  handleEvent(event){
    if(event.action === 'done'){
      this.co

[2021-02-13 11:49] Nabeeh-AlSawaf opened #92 "stopTime with date format"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x] Bug report -> please search issues before submitting
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior

when given unix timestamp (1614600000000) and format like 'yyyy-MM-dd E HH:mm:ss a' it gives 1970-01 ..etc
example :
  <countdown   [config]="{ stopTime: 1614600000000 ,format: 'yyyy-MM-dd

[2021-02-14 05:49] Nabeeh-AlSawaf commented on #92
the following fixed the problem for me
in html
`  <countdown   [config]="{ stopTime: 1614600000000 ,format: 'DD:HH:mm:ss' ,formatDate : formatDate}"></countdown>`
in script
CountdownTimeUnits: Array<[string, number]> = [
  ['Y', 1000 * 60 * 60 * 24 * 365], // years
  ['M', 1000 * 60 * 60 * 24 * 30], // months
  ['D', 1000 * 60 * 60 * 24], // days
  ['H', 1000 * 60 * 60], // hours
  ['m', 1000 * 60

[2021-02-14 05:49] #92 closed, assigned to nobody

[2021-02-17 13:39] cipchk commented on #91
A temporary solution:

[code]

[2021-02-17 13:40] #91 closed, assigned to nobody

[2021-02-17 13:41] cipchk commented on #91
fixed by `11.0.2`

[2021-02-24 08:48] manzooralam opened #94 "notify event not trigger"
I used this library, but notify event not happened?.

TemplateCode:
` <countdown [config]="{leftTime: 10,
    format: 'mm:ss', notify: 5}"
     (event)="handleEvent($event)"></countdown>`

handleEvent method code:
[code]
[Here stackblitz code  ](https://stackblitz.com/edit/ngx-countdown-notify?file=src/app/app.component.ts),

[2021-02-24 12:44] cipchk commented on #94
`notify` is `number[]` type when you don’t need to trigger every second.

[2021-02-24 12:54] #94 closed, assigned to nobody

[2021-02-24 12:55] cipchk commented on #94
fixed by `11.0.3`

[2021-03-11 17:18] sterichards opened #96 "How can I query the component for the seconds remaining on a countdown that is happening?"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[x ] Documentation issue or request
</code></pre>

## Current behavior
I am implementing a timer but I want to query it for how many seconds are remaining

## Expected behavior

## Environment

<pre><code>
Angular version: X.Y.Z

ngx-countdown version: X.Y.Z

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Firefox version XX
- [ ] Sa

[2021-03-12 09:22] sterichards commented on #96
I have solved the problem by passing in `notify:0` to the `config` to receive 1 second event notifications

[2021-03-12 09:22] #96 closed, assigned to nobody

[2021-04-11 16:42] sterichards opened #97 "How can I add months and days to the countdown?"
I have tried 'LL' for months and 'YY' for years but the figures are not correct

[2021-04-11 17:28] sterichards commented on #97
My solution if anybody is interested:

`
getDateFormat(seconds: number): string {

        const dateDiffObject = this.difference(seconds);
        let dateDiffString = '';

        if (dateDiffObject.years > 0) {
            dateDiffString += dateDiffObject.years + '\'<a>Y</a>\' ';
        }

        if (dateDiffObject.months > 0) {
            dateDiffString += dateDiffObject.months + '\'<a>M</a

[2021-04-11 17:28] #97 closed, assigned to nobody

[2021-05-17 06:23] miremad opened #98 "initialize CountdownComponent in angular 11"
i'm using angular 11 and I have to initialize Counter to use it's methods. how can I initialize it with it's constructor?

[2021-05-26 10:37] KeshavKundal opened #99 "Is there a way to display timeLeft >1 hr in mm:ss format ?"
Is there a way to display timeLeft>1hr in mm:ss format ?

Example: If timeLeft is 3900 ie 65 mins, can we display it in mm:ss format as 65:00 and start countdown from there, Instead of having 65 mins as 01:05:00 in hh:mm:ss format.

[2021-05-26 10:53] cipchk commented on #99
Yes, you can custom format data via `formatDate`, like this: https://github.com/cipchk/ngx-countdown/blob/master/src/app/components/demo.component.ts#L31

[2021-05-26 10:53] #99 closed, assigned to nobody

[2021-05-26 10:56] KeshavKundal commented on #99
@cipchk Can you please share a working demo for this? That will work wonders.

[2021-05-26 18:05] keshav929 commented on #99
I figured out the solution for this problem. Thanks @cipchk  for pointing me in the right direction.
Here is the Solution demo URL for this issue: https://stackblitz.com/edit/ngx-countdown-demo-morethan59hours?file=src/app/app.component.ts

[2021-06-14 08:51] hosamhemaily opened #101 "countdown.module.d.ts using angular 11"
i have an error in countdown.module.d.ts file
has no exported member 'ɵɵInjectorDeclaration'
i spent 4 hours and still not fixed

![image](https://user-images.githubusercontent.com/31744225/121865632-7add1200-ccfe-11eb-9eea-6856b11b3057.png)

[2021-06-14 08:52] hosamhemaily commented on #101
i am using angular 11

[2021-06-18 06:08] cipchk commented on #101
Pls use `11.0.3` version in angular 11.

[2021-06-18 06:09] cipchk commented on #98
duplicate #101

[2021-06-18 06:09] #98 closed, assigned to nobody

[2021-06-23 20:41] Darren120 opened #102 "Event triggering on all counter tags"
I am having issue where (event)="oneFunc($event)" being tigger at 0 causes another even (event)="twoFunc($event)" to run, when that func is on a seperate counter component

[2021-06-23 20:44] #102 closed, assigned to nobody

[2021-06-23 20:59] Darren120 commented on #102
fixed. was an logical issue on my part

[2021-07-14 09:03] Araknos opened #103 "Display countdown in only seconds format"
Hello,

Is there a way to format the countdown in a only seconds format ?
Instead of 2:00 (mm:ss) => 120 (?)

[2021-07-14 09:50] cipchk commented on #103
@Araknos Yes, you can via `formatDate `, like this: https://github.com/cipchk/ngx-countdown/issues/49#issuecomment-561989905

[2021-07-14 10:17] Araknos commented on #103
@cipchk thank you, do you have any demo of formatDate ?

[2021-07-14 10:22] cipchk commented on #103
Like this:

[code]

[2021-07-14 10:52] #101 closed, assigned to nobody

[2021-07-14 10:53] #83 closed, assigned to nobody

[2021-07-14 10:58] #89 closed, assigned to nobody

[2021-07-14 10:58] #82 closed, assigned to nobody

[2021-07-14 10:59] #77 closed, assigned to nobody

[2021-07-14 11:00] #103 closed, assigned to nobody

[2021-07-16 01:53] khalilnechi opened #105 "ngx countdown not showing up"

[2021-07-16 02:17] #105 closed, assigned to nobody

[2021-08-05 14:26] ruvan83 opened #106 "How to keep the timer value after page refresh"
Hello,
I'm using this module and it's working very well for my purpose, one Issue I would like to find a solution for is when the timer is started and user refresh the page the timer get reset and user can't track it.
I use leftTime: timeData in my config

[2021-08-06 06:18] cipchk commented on #106
You can solve it with localStorage, for example:

[code]

Use `notify` event to save data in real time.

[code]

Finally, get cache value in `ngOnInit` event to `leftTime`.

[2021-08-06 06:18] #106 closed, assigned to nobody

[2021-08-06 09:53] ruvan83 commented on #106
Hello,
I tried this approach, I have the problem still:
1. notify of value 0 is not allowing, getting an error it must be positive integer. Here's my config
`<countdown #cd [config]="{ leftTime: 6000, notify: [0] , demand: true, format: 'mm:ss'}" (event)="handleEvent($event)"></countdown>
`
2. How this is going to save the value continuously suppose the timer is on 02:45 and user refreshed the pag

[2021-08-06 10:34] cipchk commented on #106
A demo: https://stackblitz.com/edit/ngx-countdown-setup-8v3m14?file=src%2Fapp%2Fapp.component.ts

[2021-08-06 10:51] #75 closed, assigned to nobody

[2021-08-06 10:52] cipchk commented on #71
About more than 24 hours demo via https://github.com/cipchk/ngx-countdown/blob/master/src/app/components/more-than-24-hours.component.ts

[2021-08-06 10:52] #71 closed, assigned to nobody

[2021-08-06 11:38] ruvan83 commented on #106
Hello,
Thanks for the stackblitz , I have my timer on demand so I control visibility via a Boolean and on OnInIt if the there's a value in session storage It means timer was started so I display the timer and it gets correct value from the storage , however I can't get it to resume, so calling
begin(); it throws errors of being undefined!
Here's a fork of the original stackblitz

https://stackblit

[2021-08-06 12:22] cipchk commented on #106
You can wrap a `setTimeOut` in `this.countdown.begin();`, or triger in button of click event.

[2021-08-07 14:00] ruvan83 commented on #106
Wrapped it in setTimeout(), still the timer doesn't get the timer to continue, strangely enough if I wrap it in function triggered by click it works, however when page is refresh I want the timer to start resuming without click event.

[2021-08-09 11:44] cipchk commented on #106
So, why do need `demand`? you can trying:

[code]

[2021-08-09 14:09] ruvan83 commented on #106
Because i want the users to start the timer on demand, also i have added the options to incremrent and decrement the minutes (60 seconds)  before starting countdown, as well as the restart option, also i use websocket to broadcast such events for e.g. if admin starts the timer all connected users will see the timer, the issue is when the admin refresh the page the timer gets resetted on thier side

[2021-09-03 09:20] ManikantaKattaDev opened #108 "How can I add MM:dd:hh:mm:ss to the countdown? (months:days:hours:minutes:seconds )"
Please find stackblitz link.

https://ngx-countdown-setup-16zccz.stackblitz.io

## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
If I give more than 2,592,000seconds(1 month/ 30days) timer is not showing correctly for more than 30days let

[2021-09-03 09:29] cipchk commented on #108
A demo (from [More than 24 hours](https://github.com/cipchk/ngx-countdown/blob/master/src/app/components/more-than-24-hours.component.ts)):

[code]

[2021-09-03 10:16] ManikantaKattaDev commented on #108
@cipchk Thank you, it is working as expected.

[2021-09-03 10:16] #108 closed, assigned to nobody

[2021-11-08 05:56] tussharkhairnar opened #109 "node_modules/ngx-countdown/countdown.component.d.ts:19:9 - error TS1086: An accessor cannot be declared in an ambient context"
ERROR in node_modules/ngx-countdown/countdown.component.d.ts:18:9 - error TS1086: An accessor cannot be declared in an ambient context.

18     set config(i: CountdownConfig);
[code]

[2021-11-09 01:25] cipchk commented on #109
@tussharkhairnar  Please tell which angular version you are currently?

[2021-11-17 11:11] SabikAbtahee commented on #109
I had the same issue in Angular: 8.2.9. I Installed "ngx-countdown": "^8.0.4" and it solved the issue.

[2021-12-28 07:11] #109 closed, assigned to nobody

[2022-01-03 14:54] elementalTIMING opened #111 "How can I change the config during runtime?"
Hi there,

the countdown work really well. But how can I change some configuration settings and restart the countdown?

Scenario:
initially I start the countdown with a config like this:

	public countdownConfig = { leftTime: 60, format: 'mm:ss', demand: true };

Works great with `begin()`. But for a second run I like to modify the `leftTime`. So I do something like:

	this.countdownConfig.leftTim

[2022-01-04 06:03] cipchk commented on #111
A [demo](https://stackblitz.com/edit/ngx-countdown-setup-jrepix):

[code]

[2022-01-04 06:03] #111 closed, assigned to nobody

[2022-01-04 06:51] elementalTIMING commented on #111
@cipchk thx for the demo. Indeed it works when I set a **complete** new config object. But why isn't it possible to modify just a **single property**?

[2022-01-04 06:56] cipchk commented on #111
In order to get better performance, ngx-countdown component are running under `OnPush` mode, this means any mutate to the `@Input()` data won't trigger change detection, please use immutable way to update array or object.

[2022-01-04 06:58] elementalTIMING commented on #111
Thx, I understand. Wouldn't it then not be a good idea to provide an `update()` method for the countdown to force the change detection?

[2022-01-04 07:01] cipchk commented on #111
A kind of magic:

[code]

[2022-01-04 07:04] elementalTIMING commented on #111
You're so right! Sometimes it can be so easy.... I was so focused that I didn't see the simplest things. Thx!

[2022-01-04 07:22] elementalTIMING commented on #111
It looked so easy but it isn't :-(
The countdown UI changes. That's fine! But now the countdown wont start again after `restart(); begin()`. It doesn't matter in which way I modify the configuration. Do you have any idea?

[2022-01-04 07:26] elementalTIMING commented on #111
it is necessary not for modify the the `config` but the component config like below:

	<countdown #cd ...>

	this.cd.config = { ...this.cd.config, leftTime: 100 };

That works but it's not really nice...

[2022-01-04 07:32] cipchk commented on #111
[code]

[2022-01-04 07:34] elementalTIMING commented on #111
Not really, because I need the `demand: true` for manual control.

[2022-01-04 07:40] cipchk commented on #111
Original configuration:

[code]

Start immediately after change:

[code]

Start manually after change:

[code]

[2022-03-29 07:11] hanslbua opened #112 "ERROR in src/app/shared/shared.module.ts(55,3): error TS2741: Property 'locale' is missing in type '{ format: string; }' but required in type 'CountdownGlobalConfig'."
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ x ] Bug report -> please search issues before submitting
[ ] Feature request
[ x ] Documentation issue or request
</code></pre>

## Current behavior
getting below error
ERROR in src/app/shared/shared.module.ts(55,3): error TS2741: Property 'locale' is missing in type '{ format: string; }' but required in type 'CountdownGlobalConfig'

[2022-03-29 15:27] cipchk commented on #112
Can you provide the definition of `CountdownGlobalConfig`?

[2022-03-29 20:30] hanslbua commented on #112
[code]

[2022-03-30 08:16] cipchk commented on #112
I'm not sure where the `CountdownGlobalConfig` come from, but at least the `countdownConfigFactory` return value must conform to that definition.

This problem is not caused by `ngx-countdown`.

[2022-03-30 09:27] hanslbua commented on #112
Well. The CountdownGlobalConfig comes from [ngx-countdown](https://github.com/cipchk/ngx-countdown)/[lib](https://github.com/cipchk/ngx-countdown/tree/master/lib)/[src](https://github.com/cipchk/ngx-countdown/tree/master/lib/src)/countdown.config.ts

[2022-03-30 10:46] cipchk commented on #112
Sorry, my mistake, this is docs typo, pls using:

[code]

[2022-03-30 10:47] #112 closed, assigned to nobody

[2022-06-14 10:41] CallumOak opened #113 "Supported versions of Angular aren't mentioned"
I can't find anywhere that mentions which versions of the countdown is compatible with which versions of Angular.
I couldn't get it to work with Angular 11, then tried it with angular 13 and it worked, but I wish the readme or another place would mention compatibility

[2022-06-14 11:15] cipchk commented on #113
Await for https://github.com/angular-eslint/angular-eslint/pull/1004

[2022-06-14 11:16] cipchk commented on #113
Full version list https://www.npmjs.com/package/ngx-countdown?activeTab=versions

[2022-06-14 11:52] CallumOak commented on #113
Are those the versions of ngx countdown or of Angular?
What I'm not seeing is something saying "version X of ngx-countdown supports versions A, B, ... of Angular"

[2022-06-14 12:44] cipchk commented on #113
Always follow major Angular versions, e.g. Angular 11 or ngx-countdown 11.

[2022-06-24 07:00] #113 closed, assigned to nobody

[2022-08-02 12:04] OmkarPimpalkar04 opened #115 "Countdown stops after refresh on server side"
## Bug Report or Feature Request (mark with an `x`)
<pre><code>
[ ] Bug report -> please search issues before submitting
Reverse Countdown works fine at localhost, but on server side it stops after manual refresh.
[ ] Feature request

[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Environment

<pre><code>
Angular version: 11.1.4

ngx-countdown versi

[2022-08-03 05:46] cipchk commented on #115
Can you provide a reproduce demo?

[2022-08-11 19:59] MahmoudSr commented on #106
When the countdown is done a text appears, but when i refresh it restarts, how do i prevent that and make the text stay

[2022-08-13 04:56] cipchk commented on #106
@MahmoudSr Should not pass the same `leftTime` value when finish, I think this is a business logic problem.

[2022-08-13 22:41] MahmoudSr commented on #106
can you help me with it ?

[2022-08-13 22:42] MahmoudSr commented on #106
I'm new to coding

[2022-08-14 00:51] MahmoudSr commented on #106
I got it worked out, thanks anyway

[2022-08-14 08:18] ruvan83 commented on #106
@MahmoudSr can you share the solution kindly, I want also to solve this issue.

[2022-09-27 09:37] majkers opened #116 "[Question] Synchronising two timers when one behind *ngIf statement"
Is there a way to synchronize two timers when one is displayed always and only hidden by css styles on MD and SM screens and the other is displayed on MD and SM screens but on an panel that is behind *ngIf condition that becomes true on click?

More or less like that:

[code]

Currently I do it like that (to tell the truth _first_ is a ViewChild property of component):
`[config]="{leftTime: first.

[2022-09-29 05:32] cipchk commented on #116
Please try to reproduce the problem via https://stackblitz.com/edit/ngx-countdown-setup

I can't reproduce it.

[2022-09-30 07:03] majkers commented on #116
OK. https://stackblitz.com/edit/ngx-countdown-setup-csak79?file=src/main.ts It is my question and not a bug. How to synchro two timers when one behind *ngIf

[2022-10-02 10:03] cipchk commented on #116
I think this is caused by the angular diff rendering mechanism, maybe using `hide` instead of `ngIf`, like this:

[code]

[2022-10-03 06:14] majkers commented on #116
Sorry can't do that. It is just a sample of code that I have. In a real application I use primeng coponent that acts the same way i.e. using ngIf. I can't change it to use style hide.

[2022-11-29 22:05] randym127 opened #117 "Template format for version 3.01"
Can I get the documentation for the template for 3.01?  What you can see there now is not very helpful.

[2022-11-29 22:14] randym127 commented on #117
Specifically can it display years?

[2022-11-30 07:31] cipchk commented on #117
Of course, for the `3.x` version, you can solve the rendering problem with [repaint](https://github.com/cipchk/ngx-countdown/blob/3.0.1/src/app/tpl/flip/flip.component.ts#L13).